.blogCard-container{
    position: fixed;
    z-index: 50;
    left:0;
    top: -100vh;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogCard-container.show{
    opacity: 1;
    top: 0;
}

.blogCard-card img{
    position: relative;
    width: 100%;
    height: 30%;
}

.blogCard-card{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width:32rem;
    overflow-x: hidden;
}


.blog-buttons{
    position: relative;
    width: 100%;
    bottom: -0.1rem;
    display: flex;
    flex-direction: row;
}

.blog-buttons button{
    display: block;
    width: 50%;
    height: 4rem;
    background-color: black;
    color: white;
    transition: background-color 0.5s;
}

.blog-buttons button:hover{
    background-color: #FF006B;
}

.description{
    margin: 0.5rem 0;
    padding: 0.5rem 1rem 0 1rem;
    width: calc(100%-2rem);
    --line-height : 1.2rem;
    color: #282727;
    max-height: calc(var(--line-height) * 5);
    line-height: var(--line-height);
    overflow: hidden;
  
    
}

.blogCard-card h2{
    margin: 0;
    color: #545454;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.description p{
    /* width: 10rem; */
    overflow-wrap: break-word;
}


.blogCard-text{
    background-color: white;
}
.blogCard-title{
    padding: 1rem 1rem 0 1rem;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .blogCard-card{
        width: 95%;
        max-width: 95%;
        left: 2.5%;
    }
}
