.contact-container{
    position: relative;
    background-color: #1c1c1c;
    color: white;
}

.contact-info{
    padding: 3rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-input{
    position: relative;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: clamp(40rem,40vw,40vw);
    justify-content: center;
}

.input-field{
    border-radius: 0px;
    -webkit-border-radius:0px;
    outline: 0;
    height: 1.5rem;
    border: none;
    font-size: 1.1rem;
    caret-color: red;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: white;
    color:#b0b0b0;
    background-color: transparent;
    padding: 1rem;
    margin: 1.2rem 0;
    transition: border-bottom-color 1s;
}

.input-field:focus{
    outline: none;
    border-bottom-color: #FF006B;
}

.input-message{
    border-radius: 0px;
    -webkit-border-radius:0px;
    font-size: 1.1rem;
    border: none;
    caret-color: red;
    border-bottom-style: solid;
    border-bottom-width: 0.1rem;
    border-bottom-color: #b0b0b0;
    color:#b0b0b0;
    background-color: transparent;
    padding: 1rem;
    margin: 1.2rem 0;
    transition: border-bottom-color 1s;
}

.input-message:focus{
    outline: none;
    border-bottom-color: #FF006B;
}

.submit-button{
    font-weight: 700;
    width: 100%;
    padding: 1.5rem 0;
    background-color: #FF006B;
    transition: background-color 0.5s;
}

.submit-button:hover{
    background-color: #c40052;
}

.contact-cards{
    margin: 0 auto;
    padding: 4rem 0;
    width: clamp(45rem,70%,80rem);
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}

.contact-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    padding: 2rem 0;
}

.contact-card svg{
    width: 4rem;
    height: 4rem;
    padding-bottom: 1rem;
}

.contact-card svg path{
    fill: #e6e6e6;
}

.contact-card h1{
    color: #FF006B;
    padding: 1rem;
    font-size: 1.8rem;
}

.contact-card h2{
    margin: 0;
    font-weight: 300;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .contact-input{
        width: 85%;
    }

    .contact-cards{
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 0 10%;
    }
        
}

