
.flipcard{
    --card-height: clamp(30rem,50vw,40rem);
    width: 100%;
    height: var(--card-height);
    position: relative;
    overflow: hidden;
    border-style:none;
}



img{
    width: 100%;
    height: var(--card-height);
    object-fit: cover;
    transform: scale(1.01);
    transition: transform 1s ease;
}

.flipcard img.hovered{
    transform: scale(1.1);
}

.flipcard-info{
    position: absolute;
    opacity: 0;
    top: 0;
    width: 100%;
    height: var(--card-height);
    
    background-color: rgba(0,0,0,0.65);
    color: white;
    transition: all 0.6s ease;
}

.flipcard-info.hovered{
    opacity: 1;
}

.flipcard-info h1{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: calc(100% - 7rem);
    color: #FF006B;
}

.flipcard-info p{
    width: clamp(5rem,70%,70%);
    height: 15rem;
    font-size: 1.3rem;
    position: absolute;
    padding-top: 1rem;
    top: 7rem;
    left: 1.5rem;
}

.flipcard-info h2{
    position: absolute;
    bottom: 4rem;
    color: #FF006B;
    padding-top: 0.5rem;
    font-weight: 500;
    left:1.5rem;
}

.flipcard-info h2:after{
    position: absolute;
    content: " ";
    width: 5rem;
    height: 0.3rem;
    left: 0;
    top: -0.1rem;
    background-color: #FF006B;
}

.flipcard-info::before{
    position: absolute;
    display: block;
    content: " ";
    width: clamp(2rem,20%,5rem);
    height: 7rem;
    top: 0;
    right: 0;
    background-color: #FF006B;
    z-index: 5;
}


