.button-container{
    height: 3rem;
    width: 3rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
   
}


.menu_btn{
    position: relative;
    width: 2.1rem;
    height: 0.25rem;
    background-color: #FF006B;
    transition: all .4s ease-in-out;
    
}

.menu_btn:before, .menu_btn:after{
    content:" ";
    position: absolute;
    width: 2.1rem;
    height: 0.25rem;
    background-color: #FF006B;
    transition: all .4s ease-in-out;
}

.menu_btn:before{
    transform: translateY(-0.65rem);
}

.menu_btn:after{
    transform: translateY(0.65rem);
}

/* ANIMATION */
.button-container.clicked .menu_btn{
    transform: translateX(-6rem);
    background: transparent;
}

.button-container.clicked .menu_btn::before{
    transform: rotate(45deg) translate(4.1rem, -4.1rem);
}
.button-container.clicked .menu_btn::after{
    transform: rotate(-45deg) translate(4.1rem, 4.1rem);
}