.portfolio-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-info{
    text-align: center;
    padding: 3rem;
}

.flipcard-container{
    display: flex;
    width: clamp(5rem, 70%, 60rem);
    flex-wrap: wrap;
    margin-bottom: 3rem;
}


@media (max-width: 768px) {
    .flipcard-container{
        width: 80%;
    }
}
