.skills-container{
    position: relative;
    display: flex;
    padding: 0 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    text-align: center;
    padding: 2rem 0 4rem 0;
}



.skill-info{
    padding: 4rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.mySwiper{
    width:100%;
    height: 27rem;
}

.swiper-pagination-bullet-active{
    --swiper-theme-color: #FF006B;
}

.test{
    width: 10rem;
    height: 10rem;
}