.skills-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDEDED;
    text-align: center;
    padding: 2rem 0 4rem 0;
}



.skill-info{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}


.mySwiper{
    width:100%;
    height: 27rem;
}

.swiper-pagination-bullet-active{

    --swiper-theme-color: #FF006B;
    
}

.test{
    width: 10rem;
    height: 10rem;
}